/* screen - overviewdashboard */

.overviewdashboard {
  background-color: var(--white);
  height: 1309px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.overviewdashboard .group-jXJxW6 {
  background-color: transparent;
  height: 804px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.overviewdashboard .web-title-area-jXJxW6 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.overviewdashboard .web-tab-overview_touch-area-jXJxW6 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.overviewdashboard .x3rd-depth-iMvglH {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.overviewdashboard .tab-iMvglH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.overviewdashboard .dash-board-M0o4oi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 68px;
}

.overviewdashboard .lnb-favorite-card-jXJxW6 {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewdashboard .rectangle-mKrdiC {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewdashboard .stacked-group-mKrdiC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.overviewdashboard .web-index-title-common-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-ix9WF9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-2-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-3-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-4-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-5-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-6-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-copy-7-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-ix9WF9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-wqigWE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-yRsJiJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_open_selected-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .group-copy-Lm8VwY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .empty-TCP0xU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewdashboard .line-copy-TCP0xU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewdashboard .empty-FUF5tU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewdashboard .web-index-title-common-copy-Lm8VwY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-JTxCJu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .web-index-contents1dpeth_close-TiDQZH {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .group-Lm8VwY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .empty-C9V9PU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.overviewdashboard .line-copy-C9V9PU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.overviewdashboard .empty-joWmP6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.overviewdashboard .web-index-title-common-ix9WF9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.overviewdashboard .line-mKrdiC {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.overviewdashboard .home-net-gui-guidelin-mKrdiC {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.overviewdashboard .webgnb-jXJxW6 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.overviewdashboard .rectangle-E2bktw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewdashboard .background-E2bktw {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.overviewdashboard .index-E2bktw {
  background-color: transparent;
  height: 22px;
  left: 428px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.overviewdashboard .web-index-select-xYJs0x {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.overviewdashboard .web-index-unselect-xYJs0x {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.overviewdashboard .web-index-unelect_main-E2bktw {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 294px;
}

.overviewdashboard .logo-PPZ4Kp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 294px;
}
